<div id="RegisterContainer">
<header>
		<div class="cp-header">
			<div class='cp-logo-container'>
			<div class='cp-branding-logo-image cp-logo'></div>				
			</div>
			<div class="cp-language-mapping cp-backgroundcolor1 cp-textcolor1 cp-subheader" data-translateIdentifier='cp.login.accessAndManageYourPrepaidAccounts'>Register Account</div>
		</div>
	</header>
<section>
		<div class='cp-gradient cp-login-gradient-background'>
		<div class="cp-login-section">
			
					
			<input type="text" class="cp-username cp-login-input cp-language-mapping" maxlength="20"  ng-model = "$ctrl.username" placeholder="Account Number" ></input>
			<input type="password" class="cp-password cp-login-input cp-language-mapping" maxlength="50" ng-model = "$ctrl.password" placeholder="Date of Birth">
		</div>
		
		<div class="cp-signon-section">
			
			<div class="cp-signon cp-language-mapping cp-textcolor3 cp-signOn-color" data-inputType="button" ng-click="$ctrl.validateAcnt()">Proceed </div>
		</div>
		</div>
		
		</div>
	</section>
	
</div>